$o-portal-primary-color: #0082CA;
$o-portal-primary-color-blur: rgba(0, 130, 202, 0.75);
$o-portal-primary-bgr-color: rgba(0, 130, 202, 0.1);
$o-portal-info-color: #71639e;
$o-portal-info-bgr-color: rgba(113, 99, 158, 0.1);
$o-portal-success-color: #34C759;
$o-portal-success-bgr-color: rgba(52, 199, 89, 0.1);
$o-portal-danger-color: #FF3B30;
$o-portal-danger-bgr-color: rgba(255, 59, 48, 0.1);
$o-portal-warning-color: #FF8300;
$o-portal-warning-bgr-color: rgba(255, 131, 0, 0.1);
$o-portal-gray: #BDBDBD;
